<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullCalendar Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fullcalendar.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="sidebar">
        <label for="subFilter">Filter by Sub:</label>
        <select id="subFilter" multiple="multiple"></select>
        <hr>
        <label for="addressFilter">Filter by Project</label>
        <select id="addressFilter" multiple="multiple"></select>
        <hr>
        <label for="pmFilter">Filter by PM:</label>
        <select id="pmFilter" multiple="multiple"></select>
        <hr>
        <label for="clientFilter">Filter by Client:</label>
        <select id="clientFilter" multiple="multiple"></select>
    </div>
    

    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

    <script>
        var colorList = ['#FF5733', '#3C7045', '#5733FF', '#883F66', '#5E8BB2'];

        function stringToColor(str) {
            var index = Math.abs(str.charCodeAt(0) % colorList.length);
            return colorList[index];
        }

        $(document).ready(function () {
            var initialData;
            $.ajax({
                url: '/events',
                type: 'GET',
                async: false,
                success: function (data) {
                    initialData = data;
                }
            });

            var uniqueSubs = Array.from(new Set(initialData.map(function (event) {
                return event.sub;
            })));

            var uniqueAddresses = Array.from(new Set(initialData.map(function (event) {
                return event.address;
            })));

            var uniquePMs = Array.from(new Set(initialData.map(function (event) {
                return event.pm;
            })));

            var uniqueClients = Array.from(new Set(initialData.map(function (event) {
                return event.client;
            })));
            
            $('#clientFilter').select2({
                width: 'resolve',
                data: uniqueClients.map(function (client) {
                    return {
                        id: client,
                        text: client
                    };
                })
            });

            $('#subFilter').select2({
                width: 'resolve',
                data: uniqueSubs.map(function (sub) {
                    return {
                        id: sub,
                        text: sub
                    };
                })
            });

            $('#addressFilter').select2({
                width: 'resolve',
                data: uniqueAddresses.map(function (address) {
                    return {
                        id: address,
                        text: address
                    };
                })
            });

            $('#pmFilter').select2({
                width: 'resolve',
                data: uniquePMs.map(function (pm) {
                    return {
                        id: pm,
                        text: pm
                    };
                })
            });

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                events: initialData,
                eventRender: function (event, element) {
                    var detailsHtml = '<div class="event-details">' +
                        '<p><strong>Client: </strong>' + event.client + '</p>'
                        '</div>';

                    element.find('.fc-content').append(detailsHtml);

                    var color = stringToColor(event.sub);
                    element.find('.fc-content').css('background-color', color);

                    element.on('click', function () {
                        var end2 = event.end ? event.end.format() : event.start.format();

                        alert(
                            'Task-name: ' + event.title + '\n' +
                            'Sub-task: ' + event.sub_task + '\n' +
                            'Address: ' + event.address + '\n' +
                            'Sub: ' + event.sub + '\n' +
                            'Client: ' + event.client + '\n' +
                            'ETA: ' + event.eta + '\n' +
                            'Start: ' + event.start.format() + '\n' +
                            'End: ' + end2 + '\n' +
                            'PM: ' + event.pm);
                    });
                },
                defaultView: 'month'
            });

            $(window).on('resize', function () {
                var containerHeight = $('#calendar-container').height();
                $('#calendar').fullCalendar('option', 'height', containerHeight);
            }).trigger('resize');

            $('#subFilter, #addressFilter, #pmFilter, #clientFilter').on('select2:select select2:unselect', function (e) {
                var selectedSubs = $('#subFilter').val() || [];
                var selectedAddresses = $('#addressFilter').val() || [];
                var selectedPMs = $('#pmFilter').val() || [];
                var selectedClients = $('#clientFilter').val() || [];
            
                var filteredEvents = initialData.filter(function (event) {
                    return (
                        (selectedSubs.length === 0 || selectedSubs.includes(event.sub)) &&
                        (selectedAddresses.length === 0 || selectedAddresses.includes(event.address)) &&
                        (selectedPMs.length === 0 || selectedPMs.includes(event.pm)) &&
                        (selectedClients.length === 0 || selectedClients.includes(event.client))
                    );
                });
            
                $('#calendar').fullCalendar('removeEvents');
                $('#calendar').fullCalendar('addEventSource', filteredEvents);
            });
            
        });
    </script>

</body>

</html>
